name: "Test stage"

on:
  workflow_call:
    inputs:
      python_version:
        description: "Python version, set by the CI/CD pipeline workflow"
        required: true
        type: string


jobs:
  test-unit:
    name: "Unit tests"
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python_version }}
      - name: "Install Poetry"
        shell: bash
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          echo "$HOME/.local/bin" >> $GITHUB_PATH
      - name: "Install dependencies"
        shell: bash
        run: make dependencies
      - name: "Run unit test suite"
        shell: bash
        run: make test-unit
      - name: "Upload unit test results"
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: unit-test-results
          path: test-artefacts/
          retention-days: 30
      - name: "Publish unit test results to summary"
        if: always()
        uses: test-summary/action@31493c76ec9e7aa675f1585d3ed6f1da69269a86  # v2.4
        with:
          paths: test-artefacts/unit-tests.xml
  test-coverage:
    name: "Test coverage"
    needs: [test-unit]
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: false # TODO: Enable coverage testing in future ticket
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
      - name: "Run test coverage check"
        run: |
          make test-coverage
      - name: "Save the coverage check result"
        run: |
          echo "Nothing to save"
  perform-static-analysis:
    name: "Perform static analysis"
    needs: [test-unit]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    timeout-minutes: 5
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Full history is needed to improving relevancy of reporting
      - name: "Perform static analysis"
        uses: ./.github/actions/perform-static-analysis
        with:
          sonar_organisation_key: "${{ vars.SONAR_ORGANISATION_KEY }}"
          sonar_project_key: "${{ vars.SONAR_PROJECT_KEY }}"
          sonar_token: "${{ secrets.SONAR_TOKEN }}"
